<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">ERROR</h1>
  <section class="d-flex flex-wrap justify-content-evenly">
    {{error.message}}
  </section>
</main>