<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-info-subtle p-2 text-center text-info w-100">NEW PASSWORD</h1>
  <form class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    
    <label class="text-center w-100 mb-1">Resetting password for:</label>
    <input class="m-1 p-2 text-center w-100 bg-light border-0" type="text" value="{{email}}" disabled />

    <input type="hidden" id="email" value="{{email}}" />
    <input class="m-2 p-2 text-center w-100" type="password" id="newPassword" placeholder="New password" />
    <input class="m-2 p-2 text-center btn btn-info w-100" type="button" id="submitNewPassword" value="Reset Password" />
  </form>
</main>
<script src="/scripts/newPassword.js"></script>
