<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-warning-subtle p-2 text-center text-warning w-100">RESET PASSWORD</h1>
  <form class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <input class="m-2 p-2 text-center w-100" type="email" id="email" placeholder="Enter your email" />
    <input class="m-2 p-2 text-center btn btn-warning w-100" type="button" id="sendResetEmail" value="Send Reset Link" />
  </form>
</main>
<script src="/scripts/resetPassword.js"></script>
